* {
    margin: 0;
    box-sizing: border-box;
  }
  img {
    max-width: 100%;
  }
    body {
    line-height: 1.5;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    margin: 0;
    padding: 0;
    background-color: #006400;
    color: #ffffff;
    margin-left: 200px;
    }
    header,
    nav {
    background-color: #228b22;
    color: white;
    padding: 1rem;
    }
    nav a {
    color: #e6e6fa;
    margin-right: 1rem;
    text-decoration: none;
    }
    main {
    padding: 1rem;
    }
    table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
    }
    th,
    td {
    border: 1px solid #ccc;
    padding: 0.5rem;
    text-align: left;
    }
    th {
    background-color: #228b22;
    }
    .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 200px;
    background-color: #228b22;
    padding: 1rem;
    }
    .sidebar a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #e6e6fa;
    margin-bottom: 1rem;
    text-decoration: none;
    }

    svg.icon {
    display: inline;
    height: 2em;
    width: 2em;
    vertical-align: top;
    fill: currentColor;
    /* border-color: red; */
    /* to see the images... hopefully */
    }
    .page-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: var(--spacing-lg);
    }
    .page-header .left,
    .page-header .middle,
    .page-header .right {
      display: flex;
      align-items: center;
    }